@import "imports.scss";

body {
    margin: 0;
    font-family: 'Lato';
    color: $font-color;
    font-size: $text-size;
}

.App{
    min-width: 600px;
    a, a:visited{
        text-decoration: none;
        color: $font-color;
    }
    a:hover{
        color: $link-hover-color;
        font-weight: bold;
        cursor: pointer;
    }
}

.page-content{
    background-color: $page-bg;
    .content-header{
        font-size: $header-font;
        font-weight: 600;
        margin-bottom: $header-font;
        text-align: center;
    }
}

.page-content > .section-wrapper:nth-child(odd){
    background-color: $odd-section-bg;
    color: $odd-section-font;
}

.page-content > .section-wrapper:nth-child(even){
    background-color: $even-section-bg;
    color: $even-section-font;
}

.welcome-page{
    .welcome-info{
        .welcome-icon-wrapper{
            animation: horizontalToss 1s linear;
            img{
                width: 350px;
                height: 350px;
                border-radius: 50%;
                box-shadow: 0px 0px 10px 10px #b9b9b9;
            }
        }

        .description-tag{
            font-size: 35px;
            .greeting{
                font-size: 60px;
                margin-bottom: 10px;
            }
        }
        & > div{
            margin: auto 25px;
        }
    }
}

@media only screen and (max-width: 450px) {
    .welcome-info.flex-box {
        flex-direction: column;
    }
}

@media only screen and (min-width: 450px) {        
}

.professional-page{
    .sub-header > div{
        margin: 10px 0px;
    }
    .experience-description{
        min-height: 300px;
        margin-top: 50px;
    }
}

#resume-link{
    border: 2px solid $secondary-color;
    padding: 0px 10px;
    border-radius: 7px;
    &:hover{
        background-color: $secondary-color;
        color: $primary-color;
    }
}