.font-cedarville{
    font-family: 'Cedarville Cursive';
}

.font-m{
    font-size: $font-m;
}

.header-name-font{
    @extend .font-cedarville;
    font-size: $header-name-font;
    color: $header-font-color;
}

.text-center-justify{
    justify-content: center;
    text-align: justify;
}

.text-bold{
    font-weight: bold;
}

.tall-text-lines{
    line-height: 1.5;
}

.article{
    p{
        margin-bottom: 10px;
    }
}

.padding-sm{
    padding: 10px;
}

.padding-m{
    padding: 20px;
}

.v-padding-sm{
    padding: 10px 0px;
}
.h-padding-sm{
    padding: 0px 10px;
}

.v-padding-m{
    padding: 20px 0px;
}
.h-padding-m{
    padding: 0px 20px;
}

$align: stretch, center, space-around, space-between, start;

@each $item in $align {
    .justify-content-#{$item}{
        justify-content: $item;
    }
    .align-items-#{$item}{
        align-items: $item;
    }
}

.flex-box{
    display: flex;
    display: -webkit-flex;
}
.flex-column{
    @extend .flex-box;
    flex-direction: column;
}
section{
    @extend .flex-box;
    @extend .align-items-center;
    padding: 20px 0px;
    box-sizing: border-box;
}
.tab-section{
    margin: 0 auto;
    width: 85%;
}
.sub-header{
    font-size: $sub-header-font;
    margin-bottom: 20px;
}

.content{
    .details-row{
        @extend .flex-box;
        @extend .justify-content-space-between;
        line-height: 2;
        margin: 0px auto;
    }
}

.disable-text-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}