$header-bg: #08083b;
$header-font-color:#ffffff;
$logo-font: 125px;
$header-name-font: 60px;
$nav-bar-font: 24px;

$page-bg: #ffffff;
$odd-section-bg: #08083b;
$even-section-bg: #ffffff;
$odd-section-font: #ffffff;
$even-section-font: #08083b;
$font-color: #08083b;
$text-size: 20px;

$page-content-header-font: 35px;
$page-content-sub-header-font: 25px;

$link-hover-color: #c9c9c9;
