$primary-color: #08083b;
$secondary-color: #ffffff;
$font-color: #ffffff;

$header-bg: $primary-color;
$header-font-color:$secondary-color;
$logo-font: 125px;
$header-name-font: 60px;
$nav-bar-font: 24px;

$page-bg: $secondary-color;

$odd-section-bg: $primary-color;
$even-section-bg: $secondary-color;

$odd-section-font: $secondary-color;
$even-section-font: $primary-color;

$text-size: 20px;

$header-font: 35px;
$sub-header-font: 25px;


$link-hover-color: #c9c9c9;
