$primary-color: #08083b;
$secondary-color: #ffffff;
$font-color: #ffffff;
$secondary-font-color: #08083b;
$text-size: 20px;
$font-m: 22px;

$header-bg: $primary-color;
$header-font-color:$secondary-color;
$logo-font: 125px;
$header-name-font: 60px;
$nav-bar-font: 24px;

$page-bg: $secondary-color;

$odd-section-bg: $primary-color;
$even-section-bg: $secondary-color;

$odd-section-font: $secondary-color;
$even-section-font: $primary-color;


$header-font: 35px;
$sub-header-font: 25px;


$link-hover-color: #c9c9c9;


$input-background: #ffffff;
$input-border: #c9c9c9;

$active-input-border: #d9d9d9;
$active-input-shadow: #f9f9f9;

$input-width: 300px;
$input-height: 35px;

$placeholder-color: #aaaaaa;
$input-size: 15px;

*::-webkit-scrollbar, *::-webkit-scrollbar-thumb{
    height: 10px;
    width: 10px;
    border-radius: 10px;
}
*::-webkit-scrollbar{
    background-color: #ffffff;
}
*::-webkit-scrollbar-thumb{
    background-color: #cccccc;
}
